[Unit]
Description=Redmine Unicorn Server

[Service]
WorkingDirectory={{ app_dir }}
Environment=RAILS_ENV=production
SyslogIdentifier=asvie-unicorn
PIDFile=/var/run/unicorn/unicorn.pid

ExecStart=/usr/local/bin/bundle exec "unicorn_rails -c config/unicorn.rb -E production" 
ExecStop=/usr/bin/kill -QUIT $MAINPID
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
